<section id="hosting" class="hosting">

  <h2 class="h2-main-page">Find and join a Mobretreat or <u>host</u> your own</h2>

  <p><i> 
    Day of MobRetreat is a full day of practicing TDD and refactoring as a mob of 4-5 people, and 
    exploring different mobbing styles in each round, sharing experiences and evaluating the differences.
  </i></p>

  <div class="host-contents">
  <div class="host-aside">
    <p>
      <b>Like a coderetreat</b>, at the beginning of the first round each group decides 
      which programming language is used for writing code. 
      Each round has its specific constraints. 
     </p>
    <p>
    <b>Unlike a coderetreat</b>, the code is kept and incrementally developed by the mob 
      during the whole day. 
      Changing constraints relate to communication, not to the code. 
      The mob keeps most of their original members, but after each round one person per mob joins another mob.
    </p>
    <p>
      What are you waiting for?&nbsp;&nbsp;Grab a friend and do a mobretreat on July, 18th!
    </p>
  </div>
  <div class="host-pictures">
    <img class="hosts-picture" src="/images/empty.png"></img>
    <div class="copy">
      <p>
        Join folks helping developers in their communities 
        to learn about mob programming and to explore different mobbing styles.
      </p>
     </div>

     <div class="overlay"></div>

   </div>
  </div>
  <a class="button" href="{% link pages/facilitation.md %}">Learn about hosting and facilitating</a>
</section>
