<div id="hero">
  <div class="header">
    <h1>Global Day Of MobRetreat</h1>
    <p>July 18th, 2020</p>
    <p>a day-long, intensive practice event,
      <br/>focusing on collaborative software development</p>
      <p class="hashtags"> hashtags:  
        <a href="https://twitter.com/search?q=%23MobRetreat" target="_blank" rel="noopener noreferrer">#MobRetreat</a>
        <a href="https://twitter.com/search?q=%23GDMR20" target="_blank" rel="noopener noreferrer">#GDMR20</a>
      </p>
  </div>
</div>
