---
layout: default
title: Global Day of MobRetreat Events
description: List of events around the world!
---

<div id="map">
    <div id="popup"></div>
</div>

<a href="{% link pages/facilitation.md %}" ><i class="fa fa-info-circle"></i> Register your event</a>
<h2>GDMR events in 2020</h2>

{% assign events = site.data.events_gdmr2020 %}
{% assign countries = events | where_exp: 'event', 'event.location.country' | map: 'location' | map: 'country' | uniq | sort %}
<form class="pure-form">
    <fieldset>
        <select id="gdmrCountry" style="font-family: sans-serif;">
            <option selected disabled>Select your country...</option>
            <option value="none">Show All</option>
            <option disabled>-------------</option>
            <option value="online">Online Events</option>
            {% for country in countries %}
            <option>{{ country }}</option>
            {% endfor %}
        </select>
    </fieldset>
</form>
<table class="events-by-country">
    <tbody>
    {% assign sorted_events = events | where_exp: 'name', '1' | sort: 'location.city' | sort: 'location.country' %}
    {% for event in sorted_events %}
    <tr data-country= "{{event.location.country}}" data-hosting="{{event.location.hosting}}">
        {% if event.location.country %}
        <td>{{ event.location.city }}, {{ event.location.country }}, {{ event.location.hosting }}</td>
        {% else %}
        <td>{{ event.location.hosting }}</td>
        {% endif %}
        {% include event-table-row.html event=event %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<p class="last-section">
  <a href="https://forms.gle/xkJutmwAAiH6ACU5A" target="_blank" rel="noopener noreferrer" >Register your event</a>
</p>

<script>
    $(function () {
        var eventsURL = window.location.protocol + "//" + window.location.host + window.location.pathname;

        var init = function() {
            var countryURLSearchParam = new RegExp('[\?&]country=([^&#]*)').exec(window.location.search);
            var currentFilter = countryURLSearchParam ? decodeURIComponent(countryURLSearchParam[1]) : 0;

            if(currentFilter) {
                $('#gdmrCountry').val(currentFilter);
                filterRows(currentFilter);
            }

            window.onpopstate = function(e) {
                var prevCountry = e.state.country ? decodeURIComponent(e.state.country) : 'none';
                $('#gdmrCountry').val(prevCountry);
                filterRows(prevCountry, prevCountry === 'none');
            };
        };

        var filterRows = function(filter, showAll = false) {
            var rows = $('tbody tr');
            for (var i = 0; i < rows.length; i++) {
                row = rows[i];
                ctry = row.getAttribute("data-country");
                hosting = row.getAttribute("data-hosting");
                row.classList.toggle('hidden', !(showAll || ctry === filter|| hosting === filter));
            }
        };

        var setCountryInURL = function(country) {
            var encodedCountry = encodeURIComponent(country);
            var newUrl = eventsURL + '?country=' + encodedCountry;
            window.history.pushState({ path: newUrl, country: encodedCountry }, '', newUrl);
        };

        var resetCountryInURL = function() {
            window.history.pushState({ path: eventsURL }, '', eventsURL);
        };

        $.get('/events/gdmr2020.json', function (eventsJson) {
            var gdmrEvents = mapEventsDataToMapFormat(eventsJson);
            addEventsToMap(gdmrEvents);
        });

        $('#gdmrCountry').on('change', function (e) {
            var filter = e.target.value;
            var showAll = filter === 'none';

            if(showAll) {
                resetCountryInURL();
            } else {
                setCountryInURL(filter);
            }

            filterRows(filter, showAll);
        });

        init();
    });
</script>
